<div class="container">
  <h3 style="color: Red; text-align: center;">Angular CRUD Application</h3>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
      <a class="navbar-brand me-3 text-light" style="font-weight: 800; font-family: 'Times New Roman', Times, serif;" href="items/home">Home</a>
      <input class="input-search form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0 ms-3" routerLink="items/create" type="submit">Add+</button>
    </div>

  </nav>
</div>
<router-outlet></router-outlet>